<!doctype html>
<html>
  <head>
    <title>About the health app</title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <p><a href="./">Home</a></p>
    <h1>About the health app</h1>
    <p>With this app, you can track your workouts, monitor your progress, and achieve your fitness goals.</p>
    <p>Sign up for an account and follow your friends to see what they've been up to!</p>
  </body>
</html>