<!doctype html>
<html>
  <head>
    <title>Welcome to the health app!</title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1>Welcome to the health app, <%= user.first_name %>!</h1>
    <p><a href="about">About the health app</a></p>
    <p><a href="users/profile/<%= user.username %>">Your profile</a></p>
    <p><a href="workouts">Workouts</a></p>
    <p><a href="logout">Logout</a></p>
    <p><a href="users/search">Search for friends</a></p>

  </body>
</html>