<!doctype html>
<html>
  <head>
    <title>Welcome to the health app</title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1>Welcome to the health app</h1>
    <p><a href="about">About the health app</a></p>
    <p><a href="users/login">Sign in</a></p>
    <p><a href="users/register">Sign up</a></p>
  </body>
</html>