<!doctype html>
<html>
  <head>
    <title>Login to your health account</title>
    <base href="/usr/365/">
    <link rel="stylesheet"  type="text/css" href="main.css" />
  </head>
  <body>
    <h1>Login to your health account</h1>
    <form method="POST" action="users/loggedIn">
        <p>Username: <input id="username" type="text" name="username" /></p>
        <p>Password: <input id="password" type="password" name="password" /></p>
        <input type="submit" value="Login" />
      </form>
  </body>
</html>