<!doctype html>
<html>
  <head>
        <title>Search for friends by username</title>
        <base href="/usr/365/">
        <link rel="stylesheet"  type="text/css" href="main.css" />
  </head>
  <body>
    <p><a href="./">Home</a></p>
    <h1>Search for friends by username</h1>
    <form action="users/search_result" method="GET">
      <input id="search-box" type="text" name="search_text">
      <input type="submit" value="Search" >
    </form>
  </body>
</html>