/* Global fonts sizes etc*/
body {
    background-color: rgb(230, 230, 230);
    margin: 0;
    padding: 2vw; /* spacing around edge */
    text-align: center;

    font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    font-size: 1.8vw; 
    color: rgb(33, 64, 82); 
    line-height: 1.6;
}

h1 {
    font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    font-size: 4vw; 
    color: rgb(56, 0, 69);
    margin-bottom: 1vw;
}

h2 {
    font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    font-size: 3.5vw;
    
    color: rgb(72, 43, 79);
    margin-bottom: 1vw;
}


/* Unvisited link */
a:link, a:visited {
    color: rgb(119, 136, 153);
    text-decoration: none;
    padding: 0.5vw;
    font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    font-size: 1.8vw;
}

a:hover {
    color: white;
    text-decoration: none;
    background-color: rgb(56, 0, 69);
    padding: 0.5vw;
    border-radius: 4px; /* modern rounding*/
}

/* Selected link:  */
a:active {
    color: rgb(33, 64, 82); 
    background-color: transparent;
    text-decoration: underline;
    padding: 0.5vw;
}
/* FORM STYLES */

form {
    /* background-color: rgb(204, 198, 198); */
    padding: 2vw; 
    border-radius: 8px; 
    display: inline-block; /* Shrinks form to fit content */
}

/* Style for submit buttons on forms*/
input[type="submit"] {
    background-color: rgb(56, 0, 69);
    color: white;
    font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    font-size: 1.5vw; 
    padding: 0.5vw 1vw;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 1vw;

    display: block;
    margin-left: auto;
    margin-right: auto;
    transition: background-color 0.3s;
}

/* Button hover effect */
input[type="submit"]:hover {
    background-color: rgb(72, 43, 79);
}

/* LISTS */
ul {
    list-style-type: none; /* Removes bullet point */
    padding: 0;
    margin: 0 auto; 
}

/* Applies to ALL lists*/
li {
    margin-bottom: 2vw; 
    padding-bottom: 1vw;
}